@media (max-width:576px){
	
	.get-btn{
		margin-right:10px;
	}
	     /*--- course section ----*/
		 
	.course-section .course-title h6:after{
		left:28%;
		width:30%;
	}
	
	/*--- banner --*/
	
	.banner-content{
		
	}
	.banner-section .banner-content h1{
		font-size:30px;
	}
	.banner-section .banner-content p{
		font-size:18px;
	}
	
	.banner-section .banner-content{
		padding-top:200px;
		padding-bottom:180px;
	}
	
	
	/*--- end link ----*/
	
	.copyright{
	text-align:center;
    } 
	.copyright .end-link{
	text-align:center;
	margin-top:10px;
    } 
	
	.direction{
		flex-direction:column-reverse;
	}
	/*-------- about ------*/
	
	.testimonials-section .testimonials-title h6:after{
		left:46%;
		width:30%;
	}

}


@media (min-width:576px) and (max-width:992px){
	
	.banner-section .banner-content{
		padding-top:200px;
		padding-bottom:200px;
	}
	   /*--- course ----*/
	.course-section .course-title h6:after{
		left:16%;
		width:20%;
	}
	
	.direction{
		flex-direction:column-reverse;
	}
	.get-btn{
		margin-right:10px;
	}
	
	/*------- about -----*/
	
	.testimonials-section .testimonials-title h6:after{
		left:22%;
		width:20%;
	}
}



@media (min-width:992px){
	
	
	
	
	.get-btn1 a{
	color:#fff;
	display:inline-block;
	background-color:#86db9f;
	padding:8px 24px;
	border-radius:25px;
	margin-left:12px;
    }
   .get-btn1 a:hover{
	color:#fff;
	background-color:#3ac162;
    }
	
	
	
	/*--- navbar ---*/
	
	.navbar-collapse .navbar-nav .nav-item .nav-link{
		padding-left:10px;
		font-size:14px;
	}
   
	
	  /*-- banner --*/
	
	.banner-section .banner-content{
		padding-top:300px;
		padding-bottom:300px;
	}
	
	.course-section .course-title h6:after{
		left:12%;
		width:12%;
	}
	
	.card-body-section-btn a{
		font-size:18px;
	}
	
	.copyright .end-link a{
		margin:0;
	}
	.direction{
		flex-direction:unset !important;
	}
	
	
	/*---- about ----*/
	
	.testimonials-section .testimonials-title h6:after{
	  left:16%;
	  width:20%;
	}
	
}


@media (min-width:1200px){
	
	.course-section .course-title h6:after{
		left:9%;
		width:12%;
	}
	.card-body-section-btn a{
		font-size:20px;
	}
	
	.copyright .end-link a{
		margin-left:4px;
	}
	
	.direction{
		flex-direction:unset !important;
	}
	   
	    /*-- banner ----*/
	
	.banner-section .banner-content{
	padding-top:160px;
	padding-bottom:100px;
	}
	
	/*---- navbar ---*/
	
	.navbar-collapse .navbar-nav .nav-item .nav-link{
		padding-left:22px;
		font-size:15px;
	}
	.get-btn{
		margin-right:0;
	}
	
	/*------- about -----*/
	
	.testimonials-section .testimonials-title h6:after{
	  top:40%;
	  left:14%;
	  width:13%;
	}
	
}